@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply rounded-full bg-white/10;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-white/20;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-white/40;
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: #7a87ff;
}

::selection {
  color: black;
  background: #7a87ff;
}
